div#filters {
    margin-bottom: 1.5rem;
}

div#filters tag-select {
    display: inline-block;
    margin: 0 0.5rem 0.25rem 0;
    background-color: #555;
    color: #ddd;
    padding: 0.2rem 0.4rem;
    border: 0.1rem #777 solid;
    white-space: nowrap;
    border-radius: 0.25rem;
    cursor: default;
}

div#filters tag-select svg {
    stroke: #ddd;
    fill: #ddd;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
}